include *.txt *.ini *.cfg *.rst
recursive-include django_monitoring *.ico *.png *.css *.gif *.jpg *.txt *.js *.html *.xml
include LICENSE
include README.rst
recursive-include django_monitoring/migrations django_monitoring/tests *.py
